{% extends "base.html" %}

{% block content %}

<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>Eleifend vitae urna</p>
            <h2>Contacto</h2>
        </header>
    </div>
</section>



<div id="main" class="container">
    <div class="row 200%">
        <div class="4u 12u(medium)">

            <form method="post" action="#">
                <div class="row uniform">

                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="name" id="name" value="" placeholder="Nombre">
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="text" name="surname" id="surname" value="" placeholder="Apellido">
                    </div>

                    <div class="6u 12u$(xsmall)">
                        <input type="email" name="email" id="email" value="" placeholder="Correo">
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="text" name="subject" id="subject" value="" placeholder="Asunto">
                    </div>


                    <div class="12u$">
                        <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
                    </div>

                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message"></li>
                            <li><input type="reset" value="Reset" class="alt"></li>
                        </ul>
                    </div>

                </div>
            </form>
        </div>

        <div class="4u 12u(medium)">
            <h4>Contáctanos y conoce un poco más de las actividades que realizamos y cómo puedes ser parte de
                este club.
                ¡Anímate!</h4>
            <p class="animate_fade_in">
                <i class="fa fa-map-marker"></i> Km. 30.5 Via Perimetral Campus Gustavo Galindo Velasco
            </p>
            <p class="animate_fade_in">
                <i class="fa fa-envelope"></i> kokoa@espol.edu.ec
            </p>
            <p class="animate_fade_in">
                <i class="fa fa-phone"></i> 042-269-970
            </p>
            <!-- <div class="row">
                <div class="6u$ 12u$(small)">
                    <h4>Contáctanos y conoce un poco más de las actividades que realizamos y cómo puedes ser parte de
                        este club.
                        ¡Anímate!</h4>
                    <p class="animate_fade_in">
                        <i class="fa fa-map-marker"></i> Km. 30.5 Via Perimetral Campus Gustavo Galindo Velasco
                    </p>
                    <p class="animate_fade_in">
                        <i class="fa fa-envelope"></i> kokoa@espol.edu.ec
                    </p>
                    <p class="animate_fade_in">
                        <i class="fa fa-phone"></i> 042-269-970
                    </p>
                </div>
            </div> -->

        </div>

        <div class="4u 12u(medium)">
            <h2>Aqui el mapa de google</h2>
        </div>


    </div>

</div>


{% endblock content %}