{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_4">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Miembros</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- gallery -->
<div class="gallery_area">
    <div class="container">
        <div class="row grid">
            {% for member in members %}
            <div class="col-xl-3 col-lg-6 grid-item cat1 col-md-6">
                <div class="single-gallery mb-20">
                    <div class="portfolio-img">
                        <img src="{{ member.image.url }}" alt="">
                    </div>
                    <div class="gallery_hover">
                        <a class="hover_inner">
                            <h3>{{ member.name }}</h3>
                            <span>{{ member.major }} - {{ member.join_year }}</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--/ gallery -->
{% endblock content %}